.sc-promocoes {
    width: 100%;
    height: 1000px;
    background-color: var(--cor);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
 
}
.txt-promocoes {
     position: absolute;
     left: 20%;
     top: 20%;
    color: rgb(255, 255, 255);
    font-size: 27px;
}
.mg-nb{
    width: 349px;
    height: 527px;
    position: absolute;
    top:18%;
}

.titulo{
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 120px;
  position: absolute;
  top: 0%;
  
 position: absolute;
 background-color: #85898a; 
   border: 3px solid #636164; 
  width: 100%;
  
 
 
}
.jp{
    position: absolute;
    
    top: 500px;
}

